.shell-wrapper {
  padding-top: 12vh;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #b69bb4;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}