.pft-button-wrapper {
  height: 2rem;
  width: 4rem;
}

.pft-button {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  font-size: .8rem;
  &:hover {
    cursor: pointer;
  }
}

.shadow {
  box-shadow: 5px 10px;
}